%h1 Listing permissions

%table
  %tr
    %th User
    %th Board
    %th
    %th
    %th

  - @permissions.each do |permission|
    %tr
      %td= permission.user_id
      %td= permission.board_id
      %td= link_to 'Show', permission
      %td= link_to 'Edit', edit_permission_path(permission)
      %td= link_to 'Destroy', permission, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Permission', new_permission_path
